<footer id="f">
    <h3>{{nombre3.nombre}}</h3>
    <p>Esta es la primera practica de Angular:<br> Angular es un framework para aplicaciones web desarrollado en
        TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de
        una sola página.</p>
    <!-- <div class=”footer-content”>
        <ul class=”socials”>
            <li><a href=”#”><i class=”fa fa-facebook”></i></a></li>
            <li><a href=”#”><i class=”fa fa-twitter”></i></a></li>
            <li><a href=”#”><i class=”fa fa-google-plus”></i></a></li>
            <li><a href=”#”><i class=”fa fa-youtube”></i></a></li>
            <li><a href=”#”><i class=”fa fa-linkedin-square”></i></a></li>
         </ul>
    </div> -->
    <div class=”footer-bottom”>
        <p>copyright &copy;2023 <a href=”#”>{{nombre1.nombre}} {{nombre2.nombre}}</a>  </p>
     </div>
     <div class=”footer-menu”>
        
           <a href="h">comp1</a>
          <a href="f">comp2</a>
          <a href="t1x">comp3</a>
        <a href=””>comp4</a>
  
       </div>
</footer>